body{font-family: orkney-regular; margin: 0;}

@font-face{font-family: orkney-regular; src: url(./fonts/orkney-regular.otf);}

.asterisco{font-size: 25px; color: red;}

.back{width: 35px; height: 35px;}

.bg-light{background-color: #2b78e4!important;}

.call-to-action{display: flex; justify-content: space-between;}

.clickable{cursor: pointer;}

.freccia{position: relative; float: right; padding-right: 0.5em; width: 32px;}

.input-caption label{text-align: end; margin-right: 5px; width: 100%;}

.input-caption{align-items: center; display: flex; width: 6rem;}

.input-control{align-items: center; display: flex; width: 14rem;}

.input-group{display: flex; flex-direction: row;}

.input-message{text-align: center; margin-right: 5px; width: 100%;}

.label-right{text-align: right;}

.mt-6{margin-top: 5rem;}

.mt-8{margin-top: 8rem;}

.no-border{border-bottom: none;}

.no-margin{margin-right: 0.5rem;}

.submit{background-color: #2b78e4; color: white; margin: 0px 100px 0px 100px;}

.titolo{text-align: center;}

.underlined-link:hover{color: black; text-decoration: underline;}

.underlined-link{color: black;}